export(softplus,
       softplusinv,
       lambertw,
       hpareto.negloglike,
       hpareto.fit,
       hillest,
       gpd.mme,
       hpareto.mme,
       hpareto.beta,
       hpareto.alpha,
       hpareto.gamma,
       dhpareto,
       phpareto,
       rhpareto,
       qhpareto,
       hparetomixt.init,
       dhparetomixt,
       phparetomixt,
       hparetomixt.negloglike,
       hparetomixt.fit,
       hparetomixt.cvtrain,
       hparetomixt.negloglike.tailpen,
       hparetomixt.fit.tailpen,
       hparetomixt.cvtrain.tailpen,
       hparetomixt.disp,
       gaussmixt.init,
       pgaussmixt,
       dgaussmixt,
       dlognormixt,
       condhparetomixt.init,
       condhparetomixt.dirac.init,
       condhparetomixt.nll,
       condhparetomixt.fit,
       condhparetomixt.train,
       condhparetomixt.foldtrain,
       condhparetomixt.fwd,
       condhparetomixt.nll.tailpen,
       condhparetomixt.fit.tailpen,
       condhparetomixt.train.tailpen,
       condhparetomixt.cvtrain.tailpen,
       condhparetomixt.foldtrain.tailpen,
       condhparetomixt.dirac.nll.tailpen,
       condhparetomixt.dirac.fit.tailpen,
       condhparetomixt.dirac.fwd,
       condhparetomixt.dirac.nll,
       condhparetomixt.dirac.fit,
       condhparetomixt.dirac.train.tailpen,
       condhparetomixt.dirac.foldtrain.tailpen,
       condhparetomixt.quant,
       condhparetomixt.dirac.quant,
       condhparetomixt.dirac.condquant,
       pcondhparetomixt,
       pcondhparetomixt.dirac,
       dcondhparetomixt,
       condhparetomixt.dirac.negloglike,
       condgaussmixt.init,
       condgaussmixt.nll,
       condgaussmixt.fit,
       condgaussmixt.train,
       condgaussmixt.foldtrain,
       condgaussmixt.fwd,
       condgaussmixt.quant,
       condgaussmixt.dirac.init,
       condgaussmixt.dirac.nll,
       condgaussmixt.dirac.fit,
       condgaussmixt.dirac.train,
       condgaussmixt.dirac.foldtrain,
       condgaussmixt.dirac.fwd,
       condgaussmixt.dirac.quant,
       condgaussmixt.dirac.condquant,
       condlognormixt.nll,
       condlognormixt.init,
       condlognormixt.fit,
       condlognormixt.train,
       condlognormixt.foldtrain,
       condlognormixt.quant,
       condlognormixt.dirac.negloglike,
       condlognormixt.dirac.nll,
       condlognormixt.dirac.init,
       condlognormixt.dirac.fit,
       condlognormixt.dirac.train,
       condlognormixt.dirac.foldtrain,
       condlognormixt.dirac.quant,
       condlognormixt.dirac.condquant,
       kneigh.condquant,
       pcondgaussmixt,
       dcondgaussmixt,
       condgaussmixt.dirac.negloglike,
       condbergamixt.init,
       condbergamixt.fwd,
       condbergamixt.nll,
       condbergamixt.fit,
       condbergamixt.train,
       condbergamixt.foldtrain,
       condbergamixt.quant,
       condbergamixt.negloglike)


useDynLib(condmixt)
